.user-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.user-image-wrapper img {
  width: 100%;
  height: 100%;
}

.user-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.user-info-wrapper h2 {
  margin: 0;
  padding: 10px;
}

.user-info-wrapper h4 {
  margin: 0;
  padding: 10px;
}
